In [25]:
titan = read.table("titan.txt",header=T)
summary(titan)
attach(titan)
table(Class, Survived)
chisq.test(Class, Survived)
chisq.test(Age, Survived)
table(Age, Sex)

  Class         Sex          Age       Survived
 1st :325   Female: 470   Adult:2092   No :1490
 2nd :285   Male  :1731   Child: 109   Yes: 711
 3rd :706
 Crew:885

      Survived
Class   No Yes
  1st  122 203
  2nd  167 118
  3rd  528 178
  Crew 673 212

	Pearson's Chi-squared test

data:  Class and Survived
X-squared = 190.4, df = 3, p-value < 2.2e-16

	Pearson's Chi-squared test with Yates' continuity correction

data:  Age and Survived
X-squared = 20.005, df = 1, p-value = 7.725e-06

       Sex
Age     Female Male
  Adult    425 1667
  Child     45   64